{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
    <h1>{{ post.title }}</h1>

    <table class="table" data-controller="collapse">
        <thead data-action="click->collapse#toggle">
            <tr>
                <th>Id</th>
                <td>{{ post.id }}</td>
            </tr>
        </thead>
        <tbody data-collapse-target="content">
            <tr data-collapsable>
                <th>Body</th>
                <td>{{ post.body }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr data-collapsable>
                <th>State</th>
                <td>{{ post.state.value }}</td>
            </tr>
            <tr>
                <th>View count</th>
                <td>{{ post.viewCount }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_post_index') }}">back to list</a>

    <a href="{{ path('app_post_edit', {'id': post.id}) }}">edit</a>

    {{ include('post/_delete_form.html.twig') }}

    {% for comment in comments %}
        <p>{{ comment }}</p>
    {% endfor %}
{% endblock %}
